*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

html,
body {
  height: 100%;
  cursor: none;
  font-family: "Rubik", sans-serif;
  color: white;
  background-color: #14161a;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
}

@media (max-width: 768px) {
  html,
  body {
    cursor: default;
  }
  .custom-cursor-container {
    display: none;
  }
}
